
@{
    ViewBag.Title = "Anketlerim";
    Layout = "~/Views/Shared/_MezunLayout.cshtml";
}

    <div class="col-md-12">
        <a href=" https://docs.google.com/forms/d/e/1FAIpQLScpEoAOA70ZAlRfHrMhLYRbyVrmCYBp6WcafhA2L2fAdHJO7A/viewform" target="_blank"> MEZUN BİLGİLERİ ANKETİ DOLDURMALISIN... </a>

    </div>

